.body{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 5px;  
}
.left-side{
    padding-left: 14%;
    background-color: rgb(234, 227, 216);
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1150px) {
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 700px) {
    .body{
        grid-template-columns: 1fr;
    }
    .card-container{
        grid-template-columns: 1fr;
    }
}