.right-cart{
    margin: 8%;
}
.profile{
    display: flex;
    margin-bottom: 10px;
}
.image{
    width: 40%; 
    padding: 15px 0px;
}
.image img{
    width: 100%;
    border-radius: 80%;
   
}
.profile-det{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(234, 232, 232);
    border-radius: 10px;  
}
.break-time{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(234, 232, 232);
    border-radius: 10px;
}
.break-time h3{
    background-color: aliceblue;
    border-radius: 50%;
    padding: 14px 8px;
}
.ex-time{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(234, 232, 232);
    border-radius: 10px;
    margin-bottom: 20px;
}
.ex-time h2{
    width: 50%;
    padding-left: 10px;
}
.rcard-btn{
    width: 100%;
    border: none;
    font-size: x-large;
    padding: 25px 0;
    background-color: rgb(40, 243, 54);
    border-radius: 10px;
    margin-top: 10px;
    color: rgb(249, 248, 251);
}

@media only screen and (max-width: 1200px) and (min-width: 700px) {

    .profile-det{
        text-align: center;
        display: inline;
        background-color: rgb(153, 144, 144);
        border-radius: 10px;  
    }

    .break-time{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .break-time h3{
        background-color: aliceblue;
        border-radius: 50%;
        margin: 5px 10px;
        padding: 30px 0;
        text-align: center;
    }
}
/* @media only screen and (max-width: 700px) {
    .profile-det{
        display: flex;
    }


    .break-time{
        display: flex;
        }

    .break-time h3{
            background-color: aliceblue;
           padding: 15px 10px;
            
        }    

} */